.root {
    -fx-background-color: #e5ddd5;
    -fx-padding: 10;
    -fx-font-size: 16px;
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-text-fill: white;

}

.msg-propio, .msg-ajeno, .msg-sistema {
    -fx-padding: 8 12 8 12;
    -fx-max-width: 300;
}

.msg-propio {
    -fx-background-color: #DCF8C6;
    -fx-background-radius: 15 15 0 15;
    -fx-border-radius: 15 15 0 15;
}

.msg-ajeno {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 15 15 15 0;
    -fx-border-radius: 15 15 15 0;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 5, 0, 0, 2);
}

.msg-sistema {
    -fx-background-color: #E1F5FE;
    -fx-background-radius: 10;
    -fx-font-style: italic;
    -fx-text-fill: #555555;
}